POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_TIMEOUT=

REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_TTL=
REDIS_DB=

LOGGER_LEVEL=

HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_ALLOWED_ORIGINS=localhost:5050,null

LOGGER_LEVEL=DEBUG

JWT_SECRET=
JWT_REFRESH_TOKEN_TTL=
JWT_ACCESS_TOKEN_TTL=